body {
    color: #0D2557;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    font-size: 1.2rem;
}

footer, nav {
    background-color: #CED7EA;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #0D2557;
    padding: 1rem;
}

nav a.active {
    background-color: #0D2557;
    color: white;
}

nav a.menubar:hover {
    background-color: #8693B4;
}

section, .logo {
    padding: 0 15vw;
}

.logo {
    text-align: center;
}
.logo img {
    margin-top: 4rem;
    margin-bottom: -2rem;
}

    text-align: center;
    margin-top: 3rem;
}

/* for tablet size and beyond */
@media screen and (min-width: 768px) {
    .two-columns {
        column-count: 2;
    }
}

.parent {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

footer {
    padding: 2rem;
}
