@font-face {
    font-family: "Malgun gothic";
    src: url(..\font\malgun-gothic\malgun-gothic.ttf);
}


body {
    color: #0D2557;
    font-family: "Malgun gothic", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 1.2rem;
    text-align: justify;
}

nav, .logo, h1, h2, h3, h4, h5, h6 {
    font-family: Poppins;
}
.logo, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
footer, nav {
    background-color: #CED7EA;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #0D2557;
    padding: 1rem;
}

nav a.active {
    background-color: #0D2557;
    color: white;
}

nav a.menubar:hover {
    background-color: #8693B4;
}

section, .logo {
    padding: 0 15vw;
}

.logo {
    text-align: center;
}
.logo img {
    margin-top: 4rem;
    margin-bottom: -2rem;
}

.center {
    text-align: center;
    margin-top: 3rem;
}

/* for computer size and beyond */
@media screen and (min-width: 1200px) {

    .parentcontainer {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;   
    }

    .embedimg {
        max-width: 400px;
        margin: 1rem 3rem 1rem 0;
    }

    .img-right {
        margin:1rem 0 1rem 3rem;
    }
}

footer {
    padding: 2rem;
}

.textcontainer {
    padding: 1rem 1rem;
}

.embedimg {
    width: 100%;
    height: auto;
}

.embedvid {
    position: absolute;
    top: 0;
    left: 0; 
    bottom: 0;
    right: 0;
    width: 100%;
}

.vidcontainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 50.25%;
}