<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="\css\styles.css">
    <title>Diabetes@Home Clinician</title>
</head>

<body>

    <nav>
        <div class="nav-left">
            <div class="dropdown">
                <a class="menubar">Menu</a>
                <div class="dropdown-content">
                    <a href="/clinician/dashboard">Dashboard</a>
                    <a href="/">Sign Out</a>
                </div>
            </div>
        </div>
        <ul class="nav-right">    
            <div class="profile-container menubar">
               <img src="\img\profile-pic.jpg" alt="profile pic" class="profile-pic">
               <a href="#clinician-profile">Dr. Chris</a>
            </div>
        </ul>
 

    </nav>

    <div class="logo">
        <img src="\img\logo.png" alt="logo of DIABETES@HOME">
        <h1>DIABETES@HOME</h1>
        <hr>
    </div>

    <main>
        {{{body}}}
    </main>

    <br> 
    <br> 
    <footer>

    </footer>
</body>