<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="\css\styles.css">
    <title>Diabetes@Home Patient</title>
</head>

<body>

    <nav>
        <a class="menubar" href="/clinician/dashboard">Menu</a>
        <a class="active" href="/whoAreYou">Sign In</a>
    </nav>

    <div class="logo">
        <img src="\img\logo.png" alt="logo of DIABETES@HOME">
        <h1>DIABETES@HOME</h1>
        <hr>
    </div>

    <main>
        {{{body}}}
    </main>

    <br> 
    <br> 
    <footer>

    </footer>
</body>