<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="\css\styles.css">
    <title>Diabetes@Home Main</title>
</head>

<body>
    <nav>
        <ul class="nav-left">
            <li><a class="menubar" href="/">Home</a></li>
        </ul>
        <ul class="nav-right">            
            <li><a class="active" href="/signin">Sign In</a></li>
        </ul>
    </nav>
    
    <br><br><br>
    <div class="logo">
        <img src="\img\logo-light.png" alt="logo of DIABETES@HOME">
        <h1>DIABETES@HOME</h1>
        <hr>
    </div>

    <main>
        {{{body}}}
    </main>

    <br> 
    <br> 
    <footer>

    </footer>
</body>