<!DOCTYPE html>
<html lang="en" data-theme="{{theme}}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="\css\styles.css">
    <title>Diabetes@Home Patient</title>
</head>

<body>

    <div id="sidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/patient/home">Home</a>
        <a href="/patient/about-website">About This Website</a>
        <a href="/patient/about-diabetes">About Diabetes</a>
        <a href="/patient/account/record-health-form">Record Health</a>
        <a href="/patient/account/past-health">View Past Health</a>
        <a href="/patient/account/account-info">Personal Details</a>
        <a href="/patient/achievements">Achievement</a>
        <a href="/patient/account/view-support-messages">Support Messages</a>
        <a href="/logout">Sign Out</a>
    </div>

    <nav>
        <div class="nav-left">
            <a onclick="openNav()">&#9776; Menu</a>
        </div>

        
        <ul class="nav-right">            
            <li><a class="active" href="/patient/account">
                <img src="\img\Icon-w-material-account-circle.png" alt="icon for profile">
            </a></li>
            <li><a class="active" href="/patient/view-support-messages">
                <img src="\img\Icon-w-material-message.png" alt="icon for message">
            </a></li>
            <li><a class="active" href="/patient/achievements">
                <img src="\img\Icon-w-awesome-trophy.png" alt="icon for achivements">
            </a></li>
        </ul>
    </nav>

    <main onclick="closeNav()">
        <br><br><br>
        <div class="logo">
            <img src="\img\logo.png" alt="logo of DIABETES@HOME"  onclick= window.location.href="/patient/home">
            <h1>DIABETES@HOME</h1>
            <hr>
        </div>
        {{{body}}}
    </main>
    <br> 
    <br> 
    <footer>

    </footer>
    <script>
        function openNav() {
            document.getElementById("sidenav").style.width = "300px";
        }

        function closeNav() {
            document.getElementById("sidenav").style.width = "0";
        }
    </script>
</body>