<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="\css\styles.css">
    <title>Diabetes@Home Patient</title>
    <!-- trying override css and it seems to work, so it's the issue is js??-->
    <style>
        .menu-main-wrapper #my_menu {
            display: block;
        }
    </style>
</head>

<body>
    <nav>
        <ul class="nav-left">
            <li><a class="menubar" href="javascript:void(0);" onclick="myFunction()">Menu</a></li>
        </ul>
        <ul class="nav-right">            
            <li><a class="active" href="#bell">
                <img src="\img\Icon-w-material-message.png" alt="icon for message">
            </a></li>
            <li><a class="active" href="#trophy">
                <img src="\img\Icon-w-awesome-trophy.png" alt="icon for achivements">
            </a></li>
            <li><a class="active" href="/patient/user">
                <img src="\img\Icon-w-material-account-circle.png" alt="icon for profile">
            </a></li>
        </ul>
    </nav>


    <div class="menu-main-wrapper">
    <div class="menu-side" id="my_menu">
        <ul>
            <li><a href="/patient/home">Home</a></li>
            <li><a href="/patient/aboutWebsite">About This Website</a></li>
            <li><a href="/patient/aboutDiabetes">About Diabetes</a></li>
            <li><a href="/patient/record-health-form">Record Health</a></li>
            <li><a href="/patient/past-health">View Past Health</a></li>
            <li><a href="/patient/user">Personal Details</a></li>
        </ul>
    </div>


    <main>
        <div class="logo">
            <img src="\img\logo.png" alt="logo of DIABETES@HOME">
            <h1>DIABETES@HOME</h1>
            <hr>
        </div>
        {{{body}}}
    </main>
</div>
    <br> 
    <br> 
    <footer>

    </footer>

    <!--I have no clue how to make the js work, or what other way to do this-->
    <script>
    function myFunction() {
        var x = document.getElementsById("my_menu");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
    </script>

</body>