<h2 class="center">ABOUT THIS WEBSITE</h2> 

<section>
    <p class="center">Welcome to Diabetes@Home, your personal diabetes management system. Created by Fiona Agustina, 
        Nguyễn Quốc Hoàng, Vidhya Kudikyala, Eric Shi and Nguyễn Quỳnh Anh, 
        this web app will help you keep track of, and manage, your diabetes in the convenience of your own home! <br>
    Read on to hear testimonials from our users, or if you're a patient, sign in to access the app's features!</p>

    <div class="parentcontainer">
        <img src="\img\hoang.png"
        alt="Meet hoang" class="embedimg">
        <div class="textcontainer">
            <h4>MEET HOANG</h4>
            <p>Hoang, a second year University of Melbourne student. He is enrolled within the Bachelor of Science , majoring in 
                Computer Science. </p>
        </div>
    </div>

    <div class="parentcontainer">
        <img src= "\img\quynh.png"
        alt="Meet quynh" class="embedimg"> 
        <div class="textcontainer">
            <h4>MEET QUYNH ANH</h4>
            <p>Quynh, a second year University of Melbourne student. She is enrolled within the Bachelor of Science , majoring in 
                Computer Science. </p>
        </div>
    </div>

    <div class="parentcontainer">
        <img src="\img\eric.JPG" 
        alt="Meet eric" class="embedimg"> 
        <div class="textcontainer">
            <h4>MEET ERIC</h4>
            <p>Eric, a forth year University of Melbourne student. He is enrolled within the Bachelor of Commerce, 
                and is undertaking a diploma in a computer science related field. </p>
        </div>
    </div>

    <div class="parentcontainer">
        <img src="\img\fiona.jpg"  
        alt="Meet fi" class="embedimg"> 
        <div class="textcontainer">
            <h4>MEET FIONA</h4>
            <p>Fiona, a third year University of Melbourne student. She is enrolled within the Bachelor of Design, majoring in Digital Technologies. 
               and hoping to do a minor in Computing. </p>
        </div>
    </div>

    <div class="parentcontainer">
        <img src= "\img\vidhya.jpg"
        alt="Meet vid" class="embedimg"> 
        <div class="textcontainer">
            <h4>MEET VIDHYA</h4>
            <p>Vidhya, a third year University of Melbourne student. She is enrolled within the Bachelor of Design, majoring in Digital Technologies. </p>
        </div>
    </div>

</section>
