 <section>
        <div class="center">
            <h2>ACHIEVEMENTS</h2>
            <p>90% Engagement</p>
            <p>See your acheievements and what others are achieving with you</p>
        </div>
        <br> 
</section>

        
 <section> 
        <button onclick= window.location.href="/patient/achievements/badges">View digital badge</button>
        <button onclick= window.location.href="/patient/achievements/leaderboard">View leaderboard</button>   
 </section>