<h2 class="center">All patients</h2>

<div class="tablecontainer">
    <table class="table">
        <thead> 
            <tr>
                <th>Patient Name</th>
                <th>Last Updated</th>
                <th>Blood Glucose (mmol/L)</th> 
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td data label = "Patient Name"><a href="./{{this._id}}">{{this.patient}}</a></td>
                <td data label = "Last Updated">{{this.timestamp.0.time}}</td>
                <td data label = "Blood Glucose (mmol/L)"{{#if (outOfThreshold this.timestamp.0.glucose this.glucose.lower this.glucose.higher)}}class="red"{{/if}}>{{this.timestamp.0.glucose}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>        
