<h2 class="center"> Create Clinical Note for Patient </h2>

<section>
    <form action="/clinician/{{data._id}}/create-new-note" method="POST">
        <div class="container">
            <div class="child_container">
                {{!-- <label for="uname"><h4>Username</h4></label> --}}
                <input type="text" placeholder="Enter your new note" name="note" required>
                <button type="submit">Create new note</button>
            </div>
            {{#each flash}}
            <p class="red">{{this}}</p>
            {{/each}}
        </div>
    </form> 
</section>


         