<h2 class="center">Create new patient account</h2>

<section>
    <p class="center">Put your patient's information below</p>

    <form action="/clinician/create-patient" method="POST">
        <p class="center">Name</p>
        <input type="text" id="patient_name" name="patient_name"/>
        <br>
        <input type="submit"/>
    </form>
</section>