<h2 class="center">Create new account</h2>

<section>
    <p class="center">Put your information below</p>

    <form action="/clinician/create-clinician" method="POST">
            <p class="center">Name</p>
            <input type="text" id="clinician_name" name="clinician_name"/>
            <br>
            <input type="submit"/>
    </form>
</section>