<section>
     <div class="center">
        <h2>YOUR DIGITAL BADGE</h2>
        <h3> {{engagement}}% engagement </h3>
        {{#if (badgeEarned engagement)}}
        <img src="\img\small single badge.png" alt="icon for badge">
        <p>Your engagement is over 80%!<br>Congratulations!<br>Here's a little badge for your efforts :)</p>
        {{else}}
        <img src="\img\badge faded.png" alt="icon for faded badge">
        <p>Your engagement is not yet over 80%!<br>Don't worry!<br>Just keep on going!<br>We're here for you :)</p>
        {{/if}}
     </div>
    <br> 
 </section>

        
<section>      
    <button onclick= window.location.href="/patient/achievements/leaderboard">View leaderboard</button>  
    <button onclick= window.location.href="/patient/achievements">back</button>       
</section>