<section>
     <div class="center">
        <h2>YOUR DIGITAL BADGE</h2>
        <p> 90% engagement </p>
        <img src="\img\small single badge.png" alt="icon for badge">
     </div>
    <br> 
 </section>

        
<section>      
    <button onclick= window.location.href="/patient/achievements/leaderboard">View leaderboard</button>  
    <button onclick= window.location.href="/patient/achievements">back</button>       
</section>