<section>
    <div class="center">
        <h2>WELCOME</h2>
        <p>Welcome to your personal diabetes management system one of the best systems to keep track of your diabetes and health as once</p>
    </div>

    <div class="container">
        <div class="child_container">
            <button onclick= window.location.href="/aboutDiabetes"><p>About Diabetes</p></button> <br> 
            <button onclick= window.location.href="/aboutWebsite"><p>About This Website</p></button>    
        </div>
    </div>

</section>