<h2 class="center">Welcome</h2>

<p class="center">Welcome to your personal diabetes management system. One of the best systems to keep track of your diabetes and health at once</p>

<a class="center" href="/patient">Patient Page</a>
<a class="center" href="/clinician">Clinician Page</a>