<section>
    <div class="center">
        <h2>LEADERBOARD</h2>
        <p>View the top 5 people with the highest engagement rate</p>
    </div>
    <br> 
</section>

<section>
    <div class="parentcontainer">
    {{#each data}}
    <div class="bigcontainer">
        {{#if (badgeEarned engagement)}}
        <img src="\img\small single badge.png" alt="icon for badge">
        {{else}}
        <img src="\img\badge faded.png" alt="icon for faded badge">
        {{/if}}
        <div class="textcontainer">
            <h1>#<script>document.write(parseInt({{@index}}) + 1)</script> Place</h1>
            <h2>{{this.username}}</h2>
            <p>{{this.engagement}}% Engagement</p>
        </div>
    </div>
    </div>
    {{/each}}
    <br> 
</section>

<section>
    <button onclick= window.location.href="/patient/achievements">back</button>  
</section>