<section>
    <div class="center">
        <h2>YOUR ACCOUNT</h2>
        <p class="intro_text">Welcome to your personal account where you can record your health data, view
            your past heath progression and also manage your own personal account details.</p>    
    </div>

    <div class="container">
        <div class="child_container">
            <button onclick= window.location.href="/patient/record-health-form" >Record Health </button>
            <button onclick= window.location.href="/patient/past-health">View Past Health</button>
            <button onclick= window.location.href="/patient/user">Personal Details</button>
            <button onclick= window.location.href="/whoAreYou" class="signinout">Sign out</button>
        </div>
        {{!-- <div id="sign_out">
            <button>Sign out</button>
        </div> --}}
    </div>
    
</section>
