<section>
    <div class="center">
        <h2>RECORD HEALTH</h2>
        <p>Record your health data in the following boxes</p>
        <p class="center">
        <script> document.write(new Date().toLocaleDateString()); </script>
        </p>
    </div>
    <br> 
</section>

<section>
    <!--
    {{#if submitted}}
    <div>Your blood glucose has been recorded</div>
    {{/if}}-->
    
    <div class="container">
        <form action="/patient/record-glucose" method="POST">
            <label for="uname"><h4>Blood Glucose (nmol/L)</h4></label>
            <input type="number" step="any" id="glucose" placeholder="Add blood glucose" name="glucose" required>
            <input type="text" id="comment_glucose" placeholder="Add comment" name="comment">
            {{#if submitted}}
            <div class="parentcontainer">
                <small class="submitted">Submitted!</small>
                <small>Last updated at {{time}}</small>
            </div>
            {{/if}}
            {{#unless submitted}}
            <button type="submit">Save</button>
            {{/unless}}
            
        </form>
    </div>

    <!--
    <div>
        <form action="/patient/record-weight" method="POST">
            <p class="center">Weight (kg)</p>
            <input type="number" step="any" placeholder="kg" name="weight"/>
            <br>
            <input type="text" placeholder="Add comment" name="comment_weight" />
            <br>
            <input type="submit" />
        </form>
    </div>

    <div>
        <form action="/patient/record-insulin" method="POST">
            <p class="center">Insulin (no. of doses)</p>
            <input type="number" placeholder="no. of doses" name="insulin"/>
            <br>
            <input type="text" placeholder="Add comment" name="comment_insulin" />
            <br>
            <input type="submit" />
        </form>
    </div>

    <div>
        <form action="/patient/record-insulin" method="POST">
            <p class="center">Exercise (step count)</p>
            <input type="number" placeholder="step count" name="exercise"/>
            <br>
            <input type="text" placeholder="Add comment" name="comment_exercise" />
            <br>
            <input type="submit" />
        </form>
    </div>
    -->
</section>
