<h2 class="center">Record Health</h2>

<section>
    <p class="center">Record your health data in the following boxes</p>

    <p class="center">
    <script> document.write(new Date().toLocaleDateString()); </script>
    </p>

    <form action="/patientData" method="POST">
        
        
        <div>
            <p class="center">Blood Glucose (mmol/L)</p>
            <input type="number" step="any" placeholder="mmol/L" name="blood_glucose" min="0" max="999" />
            <br>
            <input type="text" placeholder="Add comment" name="comment_glucose" />
        </div>

        <div>
            <p class="center">Weight (kg)</p>
            <input type="number" step="any" placeholder="kg" name="weight" min="0" max="999" />
            <br>
            <input type="text" placeholder="Add comment" name="comment_weight" />
        </div>

        <p class="center">Insulin (no. of doses)</p>
        <input type="number" placeholder="no. of doses" name="insulin" min="0" max="999" />
        <br>
        <input type="text" placeholder="Add comment" name="comment_insulin" />

        <p class="center">Exercise (step count)</p>
        <input type="number" placeholder="step count" name="exercise" min="0" max="999" />
        <br>
        <input type="text" placeholder="Add comment" name="comment_exercise" />
        
        <br>
        <br>
        <input type="submit" />
    </form>
</section>
