<h2 class="center">Record Health</h2>

<section>
    <p class="center">Record your health data in the following boxes</p>

    <p class="center">
    <script> document.write(new Date().toLocaleDateString()); </script>
    </p>
    {{#if submitted}}
    <div>Your blood glucose has been recorded</div>
    {{/if}}

    <div>
        <form action="/patient/record-glucose" method="POST">
            <p class="center">Blood Glucose (mmol/L)</p>
            <input type="number" step="any" id="glucose" placeholder="mmol/L" name="blood_glucose"/>
            <br>
            <input type="text" id="comment_glucose" placeholder="Add comment" name="comment_glucose" />
            <br>
            <input type="submit" id="submitted" value=true />
        </form>
    </div>

    <!--
    <div>
        <form action="/patient/record-weight" method="POST">
            <p class="center">Weight (kg)</p>
            <input type="number" step="any" placeholder="kg" name="weight"/>
            <br>
            <input type="text" placeholder="Add comment" name="comment_weight" />
            <br>
            <input type="submit" />
        </form>
    </div>

    <div>
        <form action="/patient/record-insulin" method="POST">
            <p class="center">Insulin (no. of doses)</p>
            <input type="number" placeholder="no. of doses" name="insulin"/>
            <br>
            <input type="text" placeholder="Add comment" name="comment_insulin" />
            <br>
            <input type="submit" />
        </form>
    </div>

    <div>
        <form action="/patient/record-insulin" method="POST">
            <p class="center">Exercise (step count)</p>
            <input type="number" placeholder="step count" name="exercise"/>
            <br>
            <input type="text" placeholder="Add comment" name="comment_exercise" />
            <br>
            <input type="submit" />
        </form>
    </div>
    -->
</section>
