<h2 class="center">SIGN IN</h2> 

<section>
    <p class="center">Please sign in with your personal details including your email and your password</p>
    <form action="./login" method="POST">
        <div class="container">
            <div class="child_container">
                <input type="text" placeholder="Username / email" name="username" required autofocus>
                <input type="password" placeholder="Password" name="password" required>
                <button type="submit">Login</button>
            </div>

            {{#each flash}}
            <p class="red">{{this}}</p>
            {{/each}}

            <div class="child_container">
                <span class="psw1"><a href="#">Forgot password?</a></span>
                <span class="psw2"><a href="#">Need help?</a></span>
            </div>
        </div>
    </form> 
</section>