<h2 class="center">PATIENT SIGN IN</h2> 

<section>
    <p class="center">Please sign in with your personal details including your email and your password</p>
    <form action="./patient/login" method="POST">
    
        <div class="container">
            <div class="child_container">
                            {{!-- <label for="uname"><h4>Username</h4></label> --}}
                <input type="text" placeholder="Username / email" name="uname" required>
            
                {{!-- <label for="psw"><h4>Password</h4></label> --}}
                <input type="password" placeholder="Password" name="psw" required>
                
                <button 
                
                <button type="submit">Login</button>
            </div>
        </div>
        
        <div class="container" style="background-color:#ffffff">
            <div class="child_container">
                <span class="psw1"><a href="#">Forgot password?</a></span>
                <span class="psw2"><a href="#">Need help?</a></span>
            </div>
        </div>
    </form> 
</section>