<h2 class="center">Patient's Health Comments </h2>

<div class="tablecontainer">
    <table class="table">
        <thead>
            <tr>
                <th>Patient Name</th>

                <th>Patient health Comment</th> 
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td data label = "Patient Name">
                    <div class="profile-container">
                        <img src="\img\profile-pic.jpg" alt="profile pic" class="profile-pic small-screen-disappear">
                        <a href="./{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
                    </div>
                </td>
                
                <td data label = "Patient Health Comment">{{this.lastComments.message}}</td> 
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>   