<h2 class="center"> View Support Message from Clincian </h2>

<div class="tablecontainer">
    <table class="table">
        <thead>
            <tr>
                
                <th>View Support Message</th> 
            </tr>
        </thead>
        
        <tbody>
            {{#each data}}
            <tr>
                <td data label = "Support Message">{{this.supportMessages}}</td>
            </tr>
            {{/each}}
        </tbody>    
        
    </table>
</div>   