<h2 class="center"> View Support Messages </h2>

<div class="tablecontainer">
    <table class="table">
        <thead>
            <tr>
                <th>Clinician Name</th>
                <th>Clinician Comment</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data label = "Clinician Name">{{data.firstName}} {{data.lastName}}</td>
                <td data label = "Message">{{this.message}}</td> 
            </tr>
        </tbody>
    </table>
</div>   