<h2 class="center">View Patient's Health Comments </h2>

<div class="tablecontainer">
    <table class="table">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Data</th>
                <th>Patient Comment</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data label = "Patient Name">{{data.firstName}} {{data.lastName}}</td>
                <td data label = "Health Data">{{data.dataname}}</td>
                <td data label = "Patient Health Comment">{{this.patientcomment}}</td> 
            </tr>
        </tbody>
    </table>
</div>   