<h2 class="center"> Support Message from Clinician </h2>

<div class="note_parentcontainer">
    {{#if data.supportMessages}}
        <h3 class="center">  {{data.supportMessages}} </h3>
    {{else}}
        <h3 class="center"> Please come back later to see any messages from your clinician! </h3>
    {{/if}}
</div>