<section>
    <div class="center">
        <h2>WHO ARE YOU?</h2>
        <p>Please select if you are a patient or clinician</p>
    </div>
    <br> 

    <div class="allbuttons">
        <button onclick= window.location.href="/patient"><p>Patient</p></button> <br> 
        <button onclick= window.location.href="/clinician"><p>Clinician</p></button>
    </div>

</section>